@import "tailwindcss";

@layer base {
  h1 {
    @apply text-6xl font-semibold text-sky-950 inline;
  }
  h2 {
    @apply py-1 pl-6 text-3xl text-white bg-sky-950;
  }
  h3 {
    @apply text-lg font-semibold inline;
  }
  h4 {
    @apply text-base italic font-semibold text-gray-600 inline;
  }
}