@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-5xl);
    display: inline;
  }
  h2 {
    font-size: var(--text-3xl);
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: 600;
    display: inline;
  }
}